<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rumofuture.nemo.repository.mapper.BookMapper">

    <resultMap id="bookMap" type="com.rumofuture.nemo.model.domain.Book">
        <id column="id" property="id"/>
        <result column="object_id" property="objectId"/>
        <result column="status" property="status"/>
        <result column="create_at" property="createAt"/>
        <result column="update_at" property="updateAt"/>
        <result column="name" property="name"/>
        <result column="style" property="style"/>
        <result column="introduction" property="introduction"/>
        <result column="source_url" property="sourceUrl"/>
        <result column="cover_url" property="coverUrl"/>
        <result column="page_total" property="pageTotal"/>
        <result column="favor_total" property="favorTotal"/>
        <result column="type" property="type"/>
        <result column="open" property="open"/>
        <result column="copyright" property="copyright"/>
    </resultMap>

    <!-- 保存 -->
    <insert id="insert" parameterType="book" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO book(
            object_id, status, create_at, update_at, author_id, name, style, introduction,
            source_url, cover_url, page_total, favor_total, type, open, copyright)
        VALUES(
            #{objectId}, #{status}, #{createAt}, #{updateAt}, #{author.id}, #{name}, #{style}, #{introduction},
            #{sourceUrl}, #{coverUrl}, #{pageTotal}, #{favorTotal}, #{type}, #{open}, #{copyright})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="book">
        UPDATE book
        <set>
            <if test="status != null">status = #{status},</if>
            <if test="name != null">name = #{name},</if>
            <if test="style != null">style = #{style},</if>
            <if test="introduction != null">introduction = #{introduction},</if>
            <if test="sourceUrl != null">source_url = #{sourceUrl},</if>
            <if test="coverUrl != null">cover_url = #{coverUrl},</if>
            <if test="pageTotal != null">page_total = #{pageTotal},</if>
            <if test="favorTotal != null">favor_total = #{favorTotal},</if>
            <if test="type != null">type = #{type},</if>
            <if test="open != null"> = #{open},</if>
            <if test="copyright != null"> = #{copyright},</if>
        </set>
        update_at = NOW()
        WHERE id = #{id}
    </update>

    <!-- 删除 -->
    <update id="delete" parameterType="int">
        UPDATE book SET status = 0 WHERE id = #{id}
    </update>

    <!-- 根据ID查找 -->
    <select id="selectOne" parameterType="int" resultMap="bookMap">
        SELECT * FROM book WHERE id = #{id} AND status > 0
    </select>

    <!-- 查找漫画册列表 -->
    <select id="selectList" parameterType="pageModel" resultMap="bookMap">
        SELECT * FROM user WHERE status > 0 ORDER BY id ASC LIMIT #{index}, #{limit}
    </select>

    <!-- 根据漫画册作者ID查找 -->
    <select id="selectListByAuthor" resultMap="bookMap">
        SELECT * FROM book WHERE author_id = #{authorId} AND status > 0
        ORDER BY id LIMIT #{pageModel.index}, #{pageModel.limit}
    </select>
</mapper>